/* DOI CSS MAIN */


/* General */
*{
	font-family: 'Open Sans Condensed', sans-serif;
}
.container{
	margin-top:40px;
	background-color:black;
	box-shadow: 0 0 5px 10px black;
	width:75%;
}

/*{
	border: 1px solid red !important;
}*/

.lure{
	margin-top:0px;
	color: #FFFFFF;
}

.everything{
	background-position: left top;
	background-image:url("https://zoelorimer.files.wordpress.com/2013/01/times-square-january-1938.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Top Logo/Title */

.logocontainer{
	margin-top:10%;
	background-color:black;
}
.center{
	text-align:center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.top{
	display:none;
	height:115px;
	margin-top:0px;
	display:block;
	z-index: 1;
}
.topBar{
	margin-top:0px;
	position:fixed;
}
.mainMiniLogo{
	display:none;
	width:30%;
}
.mainlogo{
	width:85%;
}
.lure{
	color:white;
	margin-top:2%;
}
.lure h1{
	margin:0px;
}
.lure h2{
	margin:0px;
	margin-bottom:5px;
}
.skidLogo{
	width:40%;
}





/* Features Tab */
.container-inner .row{
	width:80%;
}
.features{
	margin-top:5px;
	font-size:25px;
	opacity: .98;
	height:325px;
	background-color:#D6C9A7;
	border-radius:20px;
	margin-bottom:5px;
	position:relative;
}
.features h2{
	margin-top:0px;
	margin-bottom:0px;

}
#mng{
	padding-left:5px;
	margin-top:5px;
	font-size: 15px;
	border-left:solid 2px gray;
}
#ind{
	padding-left:5px;
	margin-top:5px;
	font-size: 15px;
	border-left:solid 2px gray;
}
.history{
	color:white;
	position:absolute; bottom:0;
}
.feat{
	display:inline-block;
	list-style-type: none;
}
li{
	margin:10px;
	margin-left:0px;

}
ul
{
	padding-left:8%;
	margin-left:0px;
    list-style-type: circle;
}




/* Self-Investment */
.customizations{
	background-color: #CFCAC6;
	border-radius: 10px;
}

.logocust{
	background-color:white;
}
.customs{
	width:50%;
	margin-left: 25%;
}

.styleselect {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 100%;
}
.prev{
	margin-top:3px;
	margin-left:20%;
}
.cont{
	margin-top:3px;
}

/* Warnings */
.modal-body p{
	font-size:20px;
}

/* Signup */
.final_signup{
	display:none;
}
.finalSignup{
	background-color:#CFCAC6;
	border-radius: 10px;
}
#sign_comp{
	display:none;
}
.signComp{
	background-color:#CFCAC6;
	border-radius: 10px;
}

/* Download Link & Rating */

.testCodes{
	margin-bottom:0px;
	color: white;
}
.betaKey{
	width:30%;
	margin-left:35%;
	margin-bottom:1px;
}
.ratings{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2%;
}
#downloadIcon{
	width:10%;
	margin-bottom:3%;
}
#invalidKey{
	color:red;
	display:none;
}

/*mobile styling*/
@media (max-width: 765px){
	.features{
		height:85%;
	}
}
@media (max-width: 500px) {
		.ratings{
			width:60%;
		}
		.downloadLinks{
			margin-left:0%;
			margin-top:0px;
		}
		.osxIcon{
			width:50%;
			float:left;
			margin-left:0%;
		}
		.windIcon{
			width:50%;
			float:right;
			margin-top:7%;
		}
		.everything{
			padding-right:0px;
		}
		#ind{
			margin-bottom:0px;
		}
		#mng{
			margin-top:0px;
		}
		.history{
			margin-left:10%;
		}
		.features{
			height:90%;
		}
	}
